body {
  margin: 0 auto;
  padding: 0;
  width: 1080px;
  height: 1920px;
  text-align: center;
  height: 100%;
  color: #fff
}

.capa{
  width: 100%;
  height: 400px; /* Ajuste a altura conforme necessário */
  object-fit: cover;
  display: block;
  position: relative;
  max-width: 100%; /* Impede a imagem de ultrapassar a largura */
}

.perfil {
  position: absolute;
  top: -50px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.container {
  display: grid;
  background-color: #192c3a; 
}

.links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
  justify-items: center; /* Centraliza os botões horizontalmente */
}

.links a {
  display: inline-block;
  padding: 1rem 2.5rem;
  background-color: #111;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.links a:hover {
  background-color: #444;
  transform: scale(1.05); /* Efeito leve ao passar o mouse */
}

.footer {
  background-color: #111;
  display: block;
}
